.container{
    margin: 50px 0;
 }
 
 .card{
 margin:0 2% !important;
 
 }
 .infected{
  border-bottom: 10px solid rgba(0, 0, 131, 0.5);
}

.recovered{
  border-bottom: 10px solid rgba(1, 133, 1, 0.5);
}

.deaths{
  border-bottom: 10px solid rgba(131, 2, 2, 0.5);
}

.h1{
  color: rgba(0, 0, 131, 0.5); 
}
.h2{
 color:rgba(0, 204, 27, 0.486);
}

.h3{
  color: rgba(131, 2, 2, 0.5);
}



 
 @media(max-width:770px){
   .card{
     margin: 2% 0 !important;
   }
 }